<% if @person.errors.any? %>
  <div>
    Oops! There was a problem creating this person. Try again!
  </div>
  <ul>
  <% @person.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
<% end %>

<%= form_for @person do |form| %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name, :placeholder => "Name" %>
  </div>

  <div>
    <%= form.label :age %>
    <%= form.text_field :age, :placeholder => "Age" %>
  </div>

  <div>
    <%= form.submit %>
  </div>

<% end %>
