<h1>Create a new person</h1>

<%= form_for @person do |form| %>


  <div>
    <%= form.label :name %>
    <%= form.text_field :name, :placeholder => "Name" %>
  </div>

  <div>
    <%= form.label :age %>
    <%= form.number_field :age, :placeholder => "Age" %>
  </div>

  <div>
    <%= form.submit "Sign up" %>
  </div>

<% end %>
